.container{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
}
textarea{
    display: block;
}
.mainContent{
    background-color: aliceblue;
    border: solid 1px black;
    padding:10px;
    
}
#important{
    display: inline-block;
    font-weight: bold;
}
button{
    display: block;
    
}
.noteBox{
    border: solid 1px black;
}
.newElem{
    background-color: aliceblue;
    border: solid 1px black;
    margin-top: 5px;
}
