$teemavari1: #341216;
$teemavari2: #CDD3D5;
$teemavari3: #506C64;
$teemavari4: radial-gradient(circle, rgba(63,94,251,0.5835376386882878) 0%, rgba(52,18,22,1) 87%);
body{
    margin: 0;
    padding: 0;
    background: $teemavari4;
}

button{
    color: $teemavari1;
}
footer, .navbar{
   background-color: $teemavari1;
}
.bg-dark{
    background-color :$teemavari1!important;
}
p{
    color: $teemavari2;
}
.nav-link{
    color: $teemavari2
}
.nav{
    --bs-nav-link-hover-color: $teemavari3;
}
.navbar{
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}
.card-body{
    background: $teemavari1;
}