$teemavari1: #341216;
$teemavari2: #CDD3D5;
$teemavari3: #506C64;

body{
    margin: 0;
    padding: 0;
    background-color: $teemavari3;
}
.carousel-inner .item img {
    height: 100%;
    width: 100%;
}

a{
    text-decoration: none;
    color: $teemavari2;
}
button{
    color: $teemavari1;
}
footer, .navbar{
   background-color: $teemavari1;
}
.bg-dark{
    background-color :$teemavari1!important;
}
p{
    color: $teemavari2;
}
.nav-link{
    color: $teemavari2
}
.nav{
    --bs-nav-link-hover-color: $teemavari3;
}