body{
    margin: 0;
    padding: 0;
    background-color: brown;
}
.carousel-inner .item img {
    height: 100%;
    width: 100%;
}

#carouselExampleControls{
    display: inline-block;
}
a{
    text-decoration: none;
    color: aquamarine;
}
button{
    color: aquamarine;
}